body {
  height: 100vh;
  background-color: #F8ECEA;
}

menu{
  margin: 0;
}

.title-gradient{
  font-size: 100px;
  font-family: 'Yellowtail', cursive;
  color: #706763;
  -webkit-text-stroke: 3px rgba(0,0,0,0.15) /*borde*/
}

.bg-nav{
  background-color: #58453e;
  box-shadow: 0 0 15px 2px rgba(0,0,0,0.15);
}

.bg-m{
  background-color: rgb(240, 129, 121);
  backdrop-filter: blur(80px);
  box-shadow: 0 0 15px 2px rgba(0,0,0,0.15);
}

.bg-c{
  background-color: rgb(246, 235, 234);
  backdrop-filter: blur(20px);
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
}

.card-img-top{
  height: 16rem;
  object-fit: cover;  /* Esta propiedad sirve para ajustar una imagen al tamaño indicado sin deformarse*/
}


/* color negro transparente para el fondo,  */
